@page "/parcel-add"
@using BlazorParcelApp.Client.Services;
@using System.Text.Json;
@using Radzen;
@inject HttpClient Http
@inject NavigationManager NavManager
@attribute [Authorize]
@inject IAuthService AuthService
@inject ILockerService lockerService

@if (lockers == null || usernames == null)
{
    <p>Loading...</p>
}
else
{
<EditForm Model="parcelDto" OnSubmit="OnSubmit" class="d-flex flex-column align-items-center">
    <div class="border p-4 col-6 gap-2 d-flex flex-column">
    <h3 class="text-center">Parcel add</h3>
    
    <label>From:</label>
    <RadzenDropDown TValue="string" @bind-Value="CityFrom" Placeholder="Select city"
        AllowFiltering="true" Data="@(lockers)" TextProperty="City" ValueProperty="City"
        Style="width: 100%;" 
    />
    
    <RadzenDropDown TValue="string" @bind-Value="parcelDto.SrcLocker" Placeholder="Select address"
        AllowFiltering="true" Data="@(lockers.Where(l=> l.City.Equals(CityFrom)).ToList())" 
        TextProperty="Address" ValueProperty="Name" Style="width: 100%;"
    />
        
    <label>To:</label>
    <RadzenDropDown TValue="string" @bind-Value="CityTo" Placeholder="Select city"
        AllowFiltering="true" Data="@(lockers)" TextProperty="City" ValueProperty="City"
        Style="width: 100%;"
    />

    <RadzenDropDown TValue="string" @bind-Value="parcelDto.DestLocker" Placeholder="Select address"
        AllowFiltering="true" Data="@(lockers.Where(l=> l.City.Equals(CityTo)).ToList())" 
        TextProperty="Address" ValueProperty="Name" Style="width: 100%;" 
    />
    <label>Receiver:</label>
    <RadzenAutoComplete @bind-Value=@parcelDto.Receiver Data=@usernames 
        Style="width: 100%" />
    <div class="mt-3">
        <button type="submit" class="btn btn-primary w-100">Add</button>
        <div class="text-danger">
            <span>@errorMessage</span>
        </div>
    </div>
    </div>
</EditForm>
}

@code {
    ParcelDto parcelDto = new ParcelDto();
    private string errorMessage = string.Empty;
    string myUsername = string.Empty;
    List<LockerDto> lockers;
    List<string> usernames;

    string CityFrom = string.Empty;
    string CityTo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        lockers = await Http.GetFromJsonAsync<List<LockerDto>>($"/api/Locker");
        usernames = await Http.GetFromJsonAsync<List<string>>($"api/User/GetUsernames");
        myUsername = await AuthService.GetUsername();
    }

    private async Task OnSubmit() {
        if (myUsername.Equals(string.Empty))
        {
               errorMessage = "Problem";
               return;
        }
        if (parcelDto.Receiver.Equals("") || parcelDto.SrcLocker.Equals("") || parcelDto.DestLocker.Equals(""))
        {
            errorMessage = "Problem";
            return;
        }
        parcelDto.Sender = myUsername;

        var result = await Http.PostAsJsonAsync($"/api/Parcel/", parcelDto);

        if (!result.IsSuccessStatusCode) {
            errorMessage = await result.Content.ReadAsStringAsync();
            return;
        }

        NavManager.NavigateTo($"/parcels");
    }
}
